.so{
	color:white!important;
	margin-top: -200px !important;
}
.mo{
	color:white !important;
	margin-top: 200px !important;
	text-align: center !important;
	text-transform: uppercase !important;
}